Repository EOSC-synergy/eosc-perf: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Docker image with tools for CI/CD (backend), SQA baseline dynamic stages (backend)

Build Docker image with tools for CI/CD (backend):
              steps{
                  checkout scm
                  dir('service_backend/') {
                      script {
                          docker.withRegistry('', env.dockerhub_credentials) {
                              def dockerfile = 'Dockerfile.cicd'
  ...

SQA baseline dynamic stages (backend):
              steps {
                  script {
                      projectConfig = pipelineConfig(configFile: env.sqa_config_backend)
                      buildStages(projectConfig)
                  }
              }
              post {
                  cleanup {
                      cleanWs()
  ...

[app] Remove now-unused highlight.js theme
  service_frontend/styles/railscasts.css
Due: none

[app] Remove styles from create-next-app
  service_frontend/pages/_app.tsx
  service_frontend/styles/Home.module.css
  service_frontend/styles/globals.css
Due: none

[app] Remove unnecessary build in Dockerfile
  service_frontend/Dockerfile
Due: none

[app] Fix pagination behaviour if no pages are available
  service_frontend/components/pagination.tsx
Due: none

[cicd] Move snyk test to another branch for later modified: Jenkinsfile
  Jenkinsfile
Due: Build Docker image with tools for CI/CD (backend)

[cicd] Unifying Dockerfiles in service_backend modified: ../.sqa-backend/docker-compose.yml
  .sqa-backend/docker-compose.yml
Due: none

[cicd][backend] Unifying Dockerfile for CI/CD modified: .sqa-backend/docker-compose.yml modified: Jenkinsfile modified: service_backend/Dockerfile.cicd deleted: service_backend/Dockerfile.jepl
  .sqa-backend/docker-compose.yml
  Jenkinsfile
  service_backend/Dockerfile.cicd
  service_backend/Dockerfile.jepl
Due: Build Docker image with tools for CI/CD (backend), SQA baseline dynamic stages (backend)

[cicd][backend] Add report publishing for the backend modified: Jenkinsfile modified: service_backend/tox.ini
  Jenkinsfile
  service_backend/tox.ini
Due: Build Docker image with tools for CI/CD (backend), SQA baseline dynamic stages (backend)

[cicd] Attempt to combine BE,FE coverage reports modified: Jenkinsfile
  Jenkinsfile
Due: Build Docker image with tools for CI/CD (backend)

[cicd] Re-arragne CI/CD stages and steps modified: Jenkinsfile
  Jenkinsfile
Due: Build Docker image with tools for CI/CD (backend)

[app] Improve documentation for various minor components
  service_frontend/components/cardAccordionToggle.tsx
  service_frontend/components/flex.tsx
  service_frontend/components/footer.tsx
  service_frontend/components/inlineCloseButton.tsx
  service_frontend/components/jsonPreviewModal.tsx
  service_frontend/components/jsonSelection.tsx
  service_frontend/components/navHeader.tsx
  service_frontend/components/registrationCheck.tsx
  service_frontend/components/resultReportModal.tsx
  service_frontend/components/resultsPerPageSelection.tsx
  service_frontend/components/utility.tsx
Due: none

[app] Add unit tests for RegistrationCheck
  service_frontend/components/registrationCheck.test.tsx
  service_frontend/components/registrationCheck.tsx
  service_frontend/components/userContextWrapper.tsx
Due: none

[app] Add unit tests for various components and helpers
  service_frontend/components/jsonHighlight.test.tsx
  service_frontend/components/pagination.test.tsx
  service_frontend/components/pagination.tsx
  service_frontend/components/resultsPerPageSelection.test.tsx
  service_frontend/components/resultsPerPageSelection.tsx
  service_frontend/components/termsOfServiceCheck.test.tsx
  service_frontend/components/termsOfServiceCheck.tsx
  service_frontend/components/testData.ts
  service_frontend/components/utility.test.tsx
Due: none

[app] Move module.css files to styles/
  service_frontend/components/loadingOverlay.tsx
  service_frontend/components/tagSelector/placeholderTag.tsx
  service_frontend/components/tagSelector/selectedTag.tsx
  service_frontend/components/tagSelector/unselectedTag.tsx
  service_frontend/styles/loadingOverlay.module.css
  service_frontend/styles/tagSelector.module.css
Due: none

[app] Add prism-cli to dev dependencies
  service_frontend/package-lock.json
  service_frontend/package.json
Due: none

[app] Add PS equivalent for reset DB script
  scripts/reset-database.ps1
Due: none

[app] Extend suggestion system with descriptions
  scripts/sample_data/template.json
  service_frontend/components/benchmarkJsonSchemaExample.json
  service_frontend/components/inputWithSuggestions.tsx
  service_frontend/components/resultSearch/columnSelectModal.tsx
  service_frontend/components/resultSearch/diagramView.tsx
  service_frontend/components/resultSearch/diagrams/lineChart.tsx
  service_frontend/components/resultSearch/filterEdit.tsx
  service_frontend/components/resultSearch/jsonSchema.tsx
  service_frontend/components/resultSearch/resultTable.tsx
  service_frontend/pages/search/result.tsx
Due: none

[app] Fix logarithmic LineChart not being loaded
  service_frontend/components/resultSearch/diagrams/lineChart.tsx
Due: none

Auto-generate HTTPS certs with localhost fallback
  .env-example
  docker-compose.yaml
  service_certificate/Dockerfile
  service_certificate/docker-entrypoint.sh
  service_certificate/init-dev-certs.sh
  service_certificate/init-letsencrypt.sh
  service_postfix/start-postfix.sh
  service_rproxy/Dockerfile
  service_rproxy/docker-entrypoint.sh
  service_rproxy/nginx-dev.conf.template
  service_rproxy/nginx.conf.template
Due: none

Give database backup container a name for consistency
  docker-compose.yaml
Due: none

Remove leftover volume mount from prod
  docker-compose.prod.yaml
Due: none

[api] rm flask-cache
  service_backend/backend/app.py
  service_backend/backend/extensions.py
  service_backend/backend/settings.py
  service_backend/requirements/prod.txt
Due: none

[api] fix json subfields sorting
  service_backend/backend/utils/queries.py
  service_backend/tests/db_instances.py
  service_backend/tests/results/test_routes.py
Due: none

[cicd] preparing ci-cd branch for merging with the updated frontend
  service_frontend/package-lock.json
Due: none

[cicd] Update Jenkinsfile for the frontend
  Jenkinsfile
Due: Build Docker image with tools for CI/CD (backend)

[cicd] update Dockerfile with optional copy of .env.local
  service_frontend/Dockerfile
Due: none

[cicd] update docker-compose (frontend) to start container as 'node' user
  .sqa-frontend/docker-compose.yml
  Jenkinsfile
Due: Build Docker image with tools for CI/CD (backend)

[cicd] update SQA docker-compose (frontend) to start container as jenkins user
  .sqa-frontend/docker-compose.yml
Due: none

[cicd] update SQA pipeline (frontend) with dedicated Dockerfile.cicd
  .sqa-frontend/docker-compose.yml
  service_backend/Dockerfile.cicd
  service_frontend/Dockerfile.cicd
Due: Build Docker image with tools for CI/CD (backend), SQA baseline dynamic stages (backend)

[cicd] update config.yml for the frontend
  .sqa-frontend/config.yml
Due: none

[cicd] re-arrange SQA pipeline by having one config.yml and docker-compose.yml for both frontend and backend
  .sqa-backend/config.yml
  .sqa-backend/docker-compose.yml
  .sqa-frontend/docker-compose.yml
  .sqa/config.yml
  .sqa/docker-compose.yml
  .sqa/transform-audit.js
  Jenkinsfile
  service_backend/tox.ini
  service_frontend/.eslintrc.json
  service_frontend/components/userContext.tsx
  service_frontend/package-lock.json
  service_frontend/package.json
Due: Build Docker image with tools for CI/CD (backend), SQA baseline dynamic stages (backend)

[app] npm audit fix for high severity vulnerability
  service_frontend/package-lock.json
Due: none

[app] Remove simple mode from line chart, display warning if results are not numeric
  service_frontend/components/resultSearch/diagrams/lineChart.tsx
Due: none

[app] Add labels to line chart configuration for accessibility
  service_frontend/components/resultSearch/diagrams/lineChart.tsx
Due: none

[app] Refactor helper functions out of line chart code
  service_frontend/components/resultSearch/diagrams/helpers.tsx
  service_frontend/components/resultSearch/diagrams/lineChart.tsx
Due: none

[app] Add basic scatter graph
  service_frontend/components/resultSearch/diagrams/index.ts
  service_frontend/components/resultSearch/diagrams/scatter.tsx
  service_frontend/next.config.js
  service_frontend/package-lock.json
  service_frontend/package.json
Due: none

[app] Add scatter graph logarithmic mode
  service_frontend/components/resultSearch/diagrams/scatter.tsx
Due: none

[app] Split diagram card to separate component, rename charts to their library
  service_frontend/components/resultSearch/diagramCard.tsx
  service_frontend/components/resultSearch/diagramView.tsx
  service_frontend/components/resultSearch/diagrams/chartjs.tsx
  service_frontend/components/resultSearch/diagrams/echarts.tsx
  service_frontend/components/resultSearch/diagrams/index.ts
  service_frontend/pages/search/result.tsx
Due: none

[app] Fix select value warning on diagram card
  service_frontend/components/resultSearch/diagramCard.tsx
Due: none

Path conditions:
  Build Docker image with tools for CI/CD (backend): (any of: service_backend/Dockerfile.cicd) or (any of: Jenkinsfile)
  SQA baseline dynamic stages (backend): any of: service_backend/*
